/* ******** Reset CSS ******** */
:root{
    --base-color: #1b263b;
    --second-color:#5d7ebfdb;
    --btn-orange:#f9530a;
    --tipografia: sans-serif;
    --titulo-color: #000; 
    --sub-titulo-color: #000;
    --parrafos-color: #000;
    --titulo-size: 1rem;
    --sub-titulo-size: 0.875rem;
    --parrafos-size: 0.75rem;
}

html{
    box-sizing: border-box;
    
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/****Estilos del header "login-idiomas"**/
.header{
    background-color: var(--base-color);
}
.login-idiomas{
    width: inherit;
    height: auto;
    font-family: var(--tipografia);
}
.login-idiomas *{
    color:#fff;
}
.login-idiomas .sesion:hover{
    color: var(--second-color);
}

/* Visor de imagenes*/
.slider{
    position: relative;
    width:100%;
    margin:auto;
    text-align: center;
    height: auto;
    background-color: rgb(68, 68, 68);
}

.slider-slides{
    position: relative;
    height: 500px;
}

.slider-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 0% 0% 100% 0%;
}

.slide-redes{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.slide-redes a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

.slide-redes a span{
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 50%;
    border:1px solid #fff;
    box-shadow: 0px 1px 20px #fff;
}

.slide-btns{
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 2.5rem;
}


.slide-btns a{
    display: block;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    opacity: .6;
    z-index:20;
}

.slide-btns a:hover{
    color: #4d4d4d
}

.slider-slide.active{
    opacity: 1;
    visibility: visible;
    transition: 1s all ease;
}

.bg-oscuro{
    position: absolute;
    z-index:10;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(9, 9, 9, 0.322);
}


/* color de las redes del visor de las imagenes*/
.fa-facebook-f{
    color:#FFF;
    background-color: #3b5998;
}

.fa-twitter{
    color:#FFF;
    background-color: #00acee;
}

.fa-instagram{
    background: linear-gradient(
    to bottom right, rgba(81, 91, 212,.8),rgba(129, 52, 175,.8),
                    rgba(221, 42, 123,.8),rgba(254, 218, 119,.8),
                    rgba(245, 133, 41,.8));
}

.fa-youtube{
    color:#FFF;
    background-color: #e62117;
}

.fa-pinterest-p{
    color:#FFF;
    background-color: #bd081c;
}

/* menu pegajoso */
.sticky-top {
   position: fixed;
   top:0;
   z-index:999;
   transition: .1s all ease-in-out;
}
