/* ******** Reset CSS ******** */
:root{
    --titulo-color: #000; 
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    /* transition en la navegacion*/
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}