/* ******** Reset CSS ******** */
:root{
    --base-color: #1b263b;
    --second-color:#5d7ebfdb;
    --btn-orange:#f9530a;
    --tipografia: sans-serif;
    --titulo-color: #000; 
    --sub-titulo-color: #000;
    --parrafos-color: #000;
    --titulo-size: 1rem;
    --sub-titulo-size: 0.875rem;
    --parrafos-size: 0.75rem;
}

html{
    box-sizing: border-box;
    
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/****Estilos del header "login-idiomas"**/
.header{
    background-color: var(--base-color);
}
.login-idiomas{
    width: inherit;
    height: auto;
    font-family: var(--tipografia);
}
.login-idiomas *{
    color:#fff;
}
.login-idiomas :hover{
    color: var(--second-color);
    
}

